html {
  font-family: "Poppins", Verdana, sans-serif;
  text-align: center;
}
body {
  width: 100%;
  margin: 0px;
}

.header {
  width: 100%;
  position: fixed;
  height: 75px; /*This might be 100px?*/
  background-color: white;
  padding-top: 20px;
}

/* Header Element*/
h1 {
  text-align: center;
  display:inline-block;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 3px;
  background-color: white;
}

h1:hover {
  color: red;
}

.current-page {
  color: red;
}

.header-line {
  position:absolute;
  /*width of ABOUT is 75px, adjust in HTML*/
  margin-top: 5px;
  border-radius: 20px;
  height: 3px;
}

.landing-screen {
  
}
.table-dudes {
  position: absolute;
  padding-top: 175px;
  left: 0px;
}

.red-logo {
  position: absolute;
  padding-top: 350px;
  left: 295px;
}

.UGA-Hacks {
  float: left;
  margin-left: 530px;
  padding-top: 155px;
}



.date {
  padding-top: 10px;
  float: left;
  text-align: left;
  margin-left: 530;
  width: 500px;
  font-family: "Poppins Medium";
  font-size: 25px;
}

h3 {
  font-family: "Poppins SemiBold";
  font-size: 28px;
  text-align: left;
}

.killer-team {
  padding-top: 10px;
  float: left;
  margin-left: 530;
  width: 500px;
  margin-bottom: 0px;
}
p {
  font-size: 17px;
}

.welcome {
  margin-top: 20px;
  text-align: left;
  float: left;
  margin-left: 530;
  width: 400px;
}

.party-line {
    position: absolute;
    right: 0px;
    top: 275px;
    width: 10%;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    height: 3px;
}

.register-now {
  border: 3px solid red;
  float: left;
  margin-left: 625;
  font-size: 20px;
  letter-spacing: 2px;
  width: 200px;
  padding: 5px;
  border-radius: 30px;
  color: white;
  background-color: red;
  transition: .2s
}

a {
    color: inherit;
    outline: inherit;
    text-decoration: inherit;
  }

.register-now:hover {
  background-color: white;
  color: red;
}

.what-is-img {
  position: absolute;
  left: 0px;
  width: 900px;
  top: 800px;
  z-index: -1;
}

.what-is {
  float: right;
  width: 225px;
  margin-top: 150px;
  margin-right: 475px;
  clear: both;
}

.hack-description {
  float: right;
  margin-top: 0px;
  margin-right: 200px;
  text-align: justify;
  width: 500px;
  clear: both;
}

.grey-line {
  position: absolute;
  right: 200px;
  top: 850px;
  width: 17%;
  border-radius: 20px;
  height: 3px;
}

.hack-description-2 {
  float: right;
  margin-top: 0px;
  margin-right: 200px;
  text-align: justify;
  width: 500px;
  clear: both;
}

.what-make {
  float left;
  margin-left: 200px;
  clear: both;
  width: 300px;
}

.make-1 {
  float left;
  margin-left: 200px;
  clear: both;
  width: 500px;
  text-align: justify;
}

.make-2 {
  float left;
  margin-left: 200px;
  clear: both;
  width: 500px;
  text-align: justify;
}

.grey-line-2 {
  position: absolute;
  left: 525px;
  top: 1205px;
  width: 12%;
  border-radius: 20px;
  height: 3px;
}

.make-img {
  position: absolute;
  right: 50px;
  width: 800px;
  top: 925px;
}

.UGA-Hacks-Corner {
  position: fixed;
  z-index: 1;
  left: 20px;
  padding-top: 20px;
}

ol {
  padding-top: 150px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 50px;
  text-align: justify;
}

li {
  text-align: left;
  font-size: 30px;
}

.schedule-info {
  padding-top: 150px;
}

.here {
  color: red;
  text-decoration: underline;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
  border: 3px solid black;
  margin: auto;
  text-align: center;
}

td {
  border: 2px solid #D3D3D3;
}

th {
  text-align: center;
}

ul li {
  text-align: center;
  list-style: none;
}
